version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: always
    ports: ["27017:27017"]
    volumes:
      - mongo-data:/data/db
  user-service:
    build: .
    environment:
      - MONGODB_URI=mongodb://mongo:27017/ecommerce_users
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo
    ports:
      - "8081:8081"
volumes:
  mongo-data:
