services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:29092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 10

  config-server:
    image: config-server:latest
    container_name: config-server
    build:
      context: ./config-server
    ports:
      - "8888:8888"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://config-server:8888/actuator/health" ]
      interval: 5s
      timeout: 5s
      retries: 20

  service-registry:
    image: service-registry:latest
    container_name: service-registry
    build:
      context: ./service-registry
    ports:
      - "8761:8761"
    environment:
      HOST_NAME: service-registry
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://service-registry:8761/actuator/health" ]
      interval: 5s
      timeout: 5s
      retries: 20

  api-gateway:
    image: api-gateway:latest
    container_name: api-gateway
    build:
      context: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      JWT_SECRET: ${JWT_SECRET}
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy

  user-db:
    image: mongo:6
    container_name: user-db
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - user-db-data:/data/db

  user-service:
    image: user-service:latest
    container_name: user-service
    build:
      context: ./user-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      JWT_SECRET: ${JWT_SECRET}
      MONGODB_URI: mongodb://user-db:27017/user_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      user-db:
        condition: service_started
      kafka:
        condition: service_healthy

  product-db:
    image: mongo:6
    container_name: product-db
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - product-db-data:/data/db

  product-service:
    image: product-service:latest
    container_name: product-service
    build:
      context: ./product-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGODB_URI: mongodb://product-db:27017/product_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      product-db:
        condition: service_started
      kafka:
        condition: service_healthy

  inventory-db:
    image: mongo:6
    container_name: inventory-db
    restart: always
    ports:
      - "27020:27017"
    volumes:
      - inventory-db-data:/data/db

  inventory-service:
    image: inventory-service:latest
    container_name: inventory-service
    build:
      context: ./inventory-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGODB_URI: mongodb://inventory-db:27017/inventory_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      inventory-db:
        condition: service_started
      kafka:
        condition: service_healthy

  order-db:
    image: mongo:6
    container_name: order-db
    restart: always
    ports:
      - "27021:27017"
    volumes:
      - order-db-data:/data/db

  order-service:
    image: order-service:latest
    container_name: order-service
    build:
      context: ./order-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGODB_URI: mongodb://order-db:27017/order_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      order-db:
        condition: service_started
      kafka:
        condition: service_healthy

  cart-db:
    image: mongo:6
    container_name: cart-db
    restart: always
    ports:
      - "27022:27017"
    volumes:
      - cart-db-data:/data/db

  cart-service:
    image: cart-service:latest
    container_name: cart-service
    build:
      context: ./cart-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGODB_URI: mongodb://cart-db:27017/cart_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      cart-db:
        condition: service_started
      kafka:
        condition: service_healthy

  payment-db:
    image: mongo:6
    container_name: payment-db
    restart: always
    ports:
      - "27023:27017"
    volumes:
      - payment-db-data:/data/db

  payment-service:
    image: payment-service:latest
    container_name: payment-service
    build:
      context: ./payment-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      STRIPE_SECRET: ${STRIPE_SECRET}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      WEB_URL: ${WEB_URL}
      MONGODB_URI: mongodb://payment-db:27017/payment_db
      CONFIG_SERVER_URI: http://config-server:8888
      EUREKA_SERVER_URI: http://service-registry:8761/eureka
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      payment-db:
        condition: service_started
      kafka:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api-gateway
      - user-service
      - product-service
      - order-service
      - cart-service
      - inventory-service
      - payment-service

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning

volumes:
  user-db-data:
  product-db-data:
  inventory-db-data:
  order-db-data:
  cart-db-data:
  payment-db-data:
  grafana-data:

