spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sahanmvs/ecommerce-config
          default-label: main

server:
  port: 8888

