server:
  port: 8080
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  tracing:
    sampling:
      probability: 1.0
spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/api/product/**
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/user/**
security:
  role-rules:
    '[/api/product/**]': ["ADMIN"]
